@model BulkyBook.Model.Category
<form method="post" asp-action="DeleteRecord" asp-controller="Category">
    <div class="border p-3 mt-4">
        <div class="row pb-2">
            <h2 class="text-primary">Delete Category</h2>
        </div>
         <input type="hidden" asp-for="Id" />
        <div class="mb-3">
            <label asp-for="Name"></label>
            <input asp-for="Name" class="form-control" disabled/>
        </div>
         <div class="mb-3">
            <label asp-for="Displayorder"></label>
            <input asp-for="Displayorder" class="form-control" disabled/>
        </div>
        <button type="submit"  class="btn btn-danger" style="width:150px">Delete</button>
        <a  asp-action="Index" asp-controller="Category" class="btn btn-secondary" asp-area="Admin" >Back to List</a>
    </div>
</form>